<h4>Хочеш знайти мінімальне кістякове дерево в умовах невизначеності для неорієнтованого графа ?</h4>

<div class="main_info">
  <p>Просто введи  <b>допустимі відхилення через кому</b>
  <br>
    розмірнiсть матриці та кількість матриць
    <br>
  </p>


  <p id="attention"> <b id="important">!!!</b>   УВАГА : допустимі відхилення, розмірність матриці, кількість матриць - це невід'ємні числа!!!
    <br> Кількість відхилень та кількість матриць має бути однакова </p>
</div>
<h4>Почнемо ?</h4>
<mat-card>
  <form [formGroup]="uploadForm" (ngSubmit)="upload()" id="file-upload-form" class="uploader">
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Допустимі відхилення</mat-label>
        <input matInput placeholder="Введи допустиме відхилення" formControlName="l">
<!--        <mat-hint>Введи допустиме відхилення</mat-hint>-->
        <mat-error>Введи число!!!</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Розмірність матриці</mat-label>
        <input matInput placeholder="Введи розмірність" formControlName="size">
<!--        <mat-hint>Введи розмірність</mat-hint>-->
        <mat-error>Введи число!!!</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Кількість матриць</mat-label>
        <input matInput placeholder="Введи кількість матриць" formControlName="number">
<!--        <mat-hint>Введи кількість матриць</mat-hint>-->
        <mat-error>Введи число!!!</mat-error>
      </mat-form-field>
      <br>

      <br>
      <button mat-stroked-button color="primary" type="submit">Random</button>
    </mat-card-content>
  </form>

  <div  class = "error" *ngIf="error">
   !!! Немає розв'язку або неправильно введені дані:<br>
  відсутні відхилення або<br>
  кількість матриць та кількість відхилень не співпадають<br>
  </div>
  <div *ngIf="isResult">
    Результат:
    <hr>
    <p *ngIf="result.additional">Узагальнене МКД</p>
    <p>Ребро -- вартість</p>
    <div *ngFor="let edge of result.edges">

      <p>  {{edge.source}}   --   {{edge.destination}} -- {{edge.weight}}</p>
    </div>
    <p>Цільова функція = {{result.targetFunction}}</p>
    <p>Відхилення = {{result.delta}}</p>
  </div>
</mat-card>
