<h4>Хочеш знайти мінімальне кістякове дерево в умовах невизначеності для неорієнтованого графа ?</h4>

<div class="main_info">
  <p>Просто введи
  <br>
    розмірнiсть матриці та кількість матриць
    <br>
  </p>


  <p id="attention"> <b id="important">!!!</b>   УВАГА : розмірність матриці, кількість матриць - це невід'ємні числа!!!</p>
</div>
<h4>Почнемо ?</h4>
<mat-card>
  <form [formGroup]="uploadForm" (ngSubmit)="upload()" id="file-upload-form" class="uploader">
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Розмірність матриці</mat-label>
        <input matInput placeholder="Введи розмірність" formControlName="size">
<!--        <mat-hint>Введи розмірність</mat-hint>-->
        <mat-error>Введи число!!!</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Кількість матриць</mat-label>
        <input matInput placeholder="Введи кількість матриць" formControlName="number">
<!--        <mat-hint>Введи кількість матриць</mat-hint>-->
        <mat-error>Введи число!!!</mat-error>
      </mat-form-field>
      <br>

      <br>
      <button mat-stroked-button color="primary" type="submit" >Random</button>
    </mat-card-content>
  </form>

  <div  class = "error" *ngIf="error">
   !!! Немає розв'язку або неправильно введені дані:<br>
  відсутні відхилення або<br>
  кількість матриць та кількість відхилень не співпадають<br>
  </div>
  <div *ngIf="isResult">
    Результат:
    <div *ngFor="let r of result">
    <hr>
    <p *ngIf="r.additional">Узагальнене МКД</p>
    <p>Ребро -- вартість</p>
    <div *ngFor="let edge of r.edges">

      <p>  {{edge.source}}   --   {{edge.destination}} -- {{edge.weight}}</p>
    </div>
    <p>Цільова функція = {{r.targetFunction}}</p>
    <p>Відхилення = {{r.delta}}</p>
  </div></div>
</mat-card>
